body {
    background-color: yellow;
}

.redtext {
    color: red;
}

.underline {
    text-decoration: underline;
}

span.underline {
    color: green;
}

#main {
    font-weight: bold;
}

.border {
    border-style: solid;
}

.redtext, .underline {
    font-size: 50;
}

div > p {
    font-size: larger;
}